@import "css_libraries/_vars.scss";
@import "css_libraries/reset.css";

html{
    background: url(../pictures/bgc.png) center no-repeat;
    font-family: "RobotoR";
    font-size: 1rem;
}

.display{
    display: block;
}

.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}

.header_container{
    height: 100vh;
    width: 100%;
    min-height: 580px;
    position: relative;
}

header{
    min-height: 580px;
    @include blocks(none,inherit,inherit,url(../pictures/main-screen__bgc.png) no-repeat);
    background-size: 100% 100%;
    .mother_block{
        @include adaptiv-value("height",120,80,1);
        width: 100%;
    }
}

@media screen and (max-width: 768px){
.new_menu{
    position: absolute;
    @include adaptiv-value("left",150,70,1);
    z-index: 1;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    .menu_line{
        transition: 0.3s linear;
        position: relative;
        top: 0;
        background-color: white;
        height: 3px;
        width: 100%;
    }
}
}


.close{
    opacity: 0;
    letter-spacing: -25px;
    transition-delay: 0.3s;
    transition: 0.25s linear;
    cursor: pointer;
    position: absolute;
    @include adaptiv-value("left",195,110,1);
    color: white;
    font-size: 16.5px;
    font-family:  "RobotoM";
}

#check{
    display: none;
    &:checked ~ .new_menu .menu_line:first-child{
        transform: translateY(11px);
    }
    &:checked ~ .new_menu .menu_line:last-child{
        transform: translateY(-11px);
    }
    &:checked ~ .close{
        letter-spacing: normal;
        opacity: 1;
    }
}

.mother{
    position: fixed;
    z-index: 1;
    width: 100vw;
    @include adaptiv-value("height",120,80,1);
    @extend %center;
    justify-content: normal;
    transition: background-color 0.5s linear, padding-bottom .3s ease-out;
img{
    cursor: pointer;
    position: absolute;
    @include adaptiv-value("left",80,20,1);
}
nav{
    width: 41.6%;
    @media screen and (min-width: 870px){
    display: flex;
    justify-content: space-between;
    }
    font-size: 1.05rem;
    color: $c-r;
    padding-left: 650/1920*100%;
    a{
        cursor: pointer;
        transition: 0.2s;
        position: relative;
        &::before{
        content: '';
        opacity: 0;
        box-sizing: border-box;
        position: absolute;
        bottom: -0.625rem;
        width: 15%;
        min-width: 15px;
        transition: 0.2s ease-in;
        height: 5px;
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        }
        @media (any-hover: hover){
            &:hover{
                color: #8977fc;
            }
            &:hover::before{
                width: 100%;
            }
        }
    }
}
}

.mother_active{
    padding-bottom: 100vh;
}

@media screen and (min-width: 768px){
    #main .table{
        display: none !important;
    }
}

.table_active{
    opacity: 1 !important;
    transition-delay: 0.4s !important;
    transform: translateX(0px) !important;
}

.table{
    position: fixed;
    z-index: 2;
    @include adaptiv-value("top",120,80,1);
    left: 50vw - 98vw/2;
    height: 0;
    width: 98%;
    text-align: center;
    .table_inner{
        position: relative;
        letter-spacing: 2px;
        display: inline-block;
        width: inherit;
        padding: 20px 0;
        color: $c-r;
        font-size: 18px;
        font-family: "RobotoM";
        border-bottom: 1.5px solid white;
        transform: translateX(-100vw);
        overflow: hidden;
        opacity: 0;
    }
    .table_inner:first-child{border-top: 1.5px solid white;}
}

.table_inner::before{
    content: '';
    position: absolute;
    width: 100%;
    inset: var(--y) 0 0 var(--x);
    transform: translate(-50%,-50%) scale(0);
    aspect-ratio: 1/1;
    transition-delay: 0s !important;
    transition: 350ms;
    border-radius: 50%;
    background-color: white;
    isolation: isolate;
    opacity: 0.45;
    z-index: -1;
}

.pulse::before{
    animation: pulse 350ms;
}

@keyframes pulse{
    100%{
        transform: translate(-50%,-50%) scale(1);
        opacity: 0;
    }
}

.table_active_up{
    height: 100vh;
}

@media screen and (min-width: 870px){
.a_before{
    &::before{
        content: '';
        opacity: 1 !important;
    }
}
}

.punch{
    cursor: pointer;
    position: absolute;
    color: $c-r;
    right: 4.5%;
    font-size: 1.05rem;
    @include adaptiv-value("width",185,120,1);
    height: 44px;
    border-radius: 50px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    transition: 0.5s;
    @extend %center;
    p{flex: 0 1 90%;}
    @media (any-hover: hover){
    &:hover{
        box-shadow: 0 0 2px 5.5px #4510465d inset;
    }}
}

.hhh{
    position: absolute;
    @include adaptiv-value("top",260,100,1);
    left: 310/1920*100%;
    @include adaptiv-value("font-size",64,35,1);
    color: $c-r;
    font-family: "RobotoB";
    line-height: 140%;
}

.row{
    position: absolute;
    left: 310/1920*100%;
    @include adaptiv-value("top",460,220,1);
    @media screen and (min-width: 570px){display: flex;}
    &in{
        @include adaptiv-value("font-size",34,25,1);
        text-align: center;
        color: $c-r;
        font-family: "RobotoB";
        width: 3.5em;
        padding: 0.8em 0;
        background-color: #121212;
        margin-left: 0.9em;
        &:first-child{
            margin-left: 0;
        }
        p{
            padding-top: 0.76em;
            font-family: "RobotoR";
            @include adaptiv-value("font-size",18,15,1);
            opacity: $op;
        }
    }
}

.lowline{
    position: absolute;
    bottom: 0;
    @include blocks(100%,100%,140/960*100%,#121212);
    min-height: 85px;
    @extend %center;
    &in{
        width: 1110px;
        max-width: 90%;
        height: 100%;
        gap: 25px;
        @extend %center;
        justify-content: space-between;
    .punch{
        position: relative;
        right: none;
        left: 0;
        min-width: 108px;
        background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
        p{flex: 0 1 85%;}
        @media (any-hover: hover){
        &:hover{
            box-shadow: 0 0 2px 5.5px #7d6afa5b inset;
        }}
    }
    .profite{
        flex: 0 1 250px;
        color: #ffffff52;
        text-align: left;
        line-height: 200%;
        p{
            font-family: "RobotoR";
            span{
                color: $c-r;
                font-family: "RobotoB";
                float: right;
            }
        }
    }
}
}

.profite2{
    @extend %center;
    flex: 0 1 550px;
    position: relative;
    ol{
        width: 100%;
        line-height: 200%;
        text-align: left;
        color: #ffffff52;
        li:first-child{
            #two{padding-left: 15px;color: $c-r;}
        }
        li:last-child{
            span{float: right;}
        }
    }
    .line{
        position: absolute;
        overflow: hidden;
        width: 100%;
        background-color: $c-r;
        height: 6px;
        border-radius: 3px;
        &::before{
        box-sizing: border-box;
        content: '';
        float: left;
        height: 100%;
        width: 40%;
        background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
        }
    }
}


section{
    width: 100%;
    padding: 110px 0;
}
.activity{padding: 210px 0 110px 0;}
.profession{color: $c-r;}


.activityin{
    position: relative;
    @extend %center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 100px;
    .picture{
        flex: 0 0 480px;
        .border{
            max-width: 430px;
            max-height: 410px;
            border: 25px solid transparent;
            border-image: linear-gradient(to right, #C89AFC 9.51%, #7C6AFA 90.23%);
            border-image-slice: 1;
            @extend %center;
            img{
                max-width: 100%;
                position: relative;
                top: 50px;
            }
        }
    }
    .text{
        position: relative;
        @include adaptiv-value("bottom",85,1,1);
        flex: 0 1 50%;
        color: $c-r;
        text-align: left;
        h1{
            font-family: "RobotoB";
            @include adaptiv-value("font-size",48,40,1);
            line-height: 200%;
        }
        p{line-height: 1.6;}
    }
}

.quick_start{
    color: $c-r;
    @media (any-hover: hover){
    &:hover{
        img{
            animation-play-state: paused;
        }
    }
    }
    img{
        position: absolute;
        animation: rotate_name 15s infinite linear;
    }
    h1{
        @include adaptiv-value("margin-left",115,99,1);
        @include adaptiv-value("font-size",48,40,1);
        font-family: "RobotoB";
        line-height: 200%;
    }
    p{
        margin-top: 20px;
        max-width: 411px;
        color: rgba(255, 255, 255, 0.5);
        line-height: 1.6;
    }
}

@keyframes rotate_name{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.value{
    width: 100%;
    display: flex;
    margin-top: 50px;
    div{
        width: 25%;
        p{
        color: $c-r;
        font-size: 36px;
        font-family: "RobotoB";
        width: 100%;
        line-height: 200%;
        }
    }
}

.value_row{
    @extend %center;
    &in{
        @include blocks(25%,25%,80px,linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%));
        &:nth-child(2){
            transform: matrix(-1, 0, 0, 1, 0, 0);
            height: 55px;
        }
        &:nth-child(3){
            height: 30px;
        }
        &:nth-child(4){
            transform: matrix(-1, 0, 0, 1, 0, 0);
            height: 10px;
        }
    }
}

.qs_text{
    margin-top: 18px;
    display: flex;
    width: 100%;
    p{
        font-size: 14px;
        padding-right: 15px;
        color: rgba(255, 255, 255, 0.5);
        line-height: 1.6;
        max-width: 25%;
    }
}

.profession h1:first-child{
    text-align: center;
    @include adaptiv-value("font-size",48,40,1);
    font-family: "RobotoB";
    line-height: 200%;
}

.prof_in{
    @include adaptiv-value("margin-top",110,80,1);
    display: flex;
    gap: max(8%,70px);
    width: 100%;
    .advantages{
        flex: 0 1 33.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        img{
            object-fit: none;
            max-width: 100px;
        }
        h1{
            font-size: 24px;
            font-family: "RobotoB";
            line-height: 140%;
            text-align: center;
        }
        p{
            font-size: 16px;
            line-height: 1.6;
            text-align: center;
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

.partners{
    @media (any-hover: hover){
        &:hover{
            img{
                animation-play-state: paused;
            }
        }}
    div{
        @include adaptiv-value("margin-bottom",100,70,1);
        display: flex;
        align-items: center;
        gap: max(2.7%,18px);
        h1{
        @include adaptiv-value("font-size",48,36,1);
        font-family: "RobotoB";
        color: $c-r;
        }
        img{
            animation: rotate_name 15s infinite linear;
        }
    }
}

.partners table{
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid transparent;
    img{
        max-width: 100%;
    }
    tr{
        td{
            padding: 30px 3.8vw;
            border: solid white;
            border-width: 0 1px 1px 0;
        }
    }
}

.training_program_header{
    max-width: 490px;
    margin: 0 auto;
    @extend %center;
    flex-direction: column;
    gap: 40px;
    color: $c-r;
    @include adaptiv-value("margin-bottom",100,70,1);
    h1{
        @include adaptiv-value("font-size",48,40,1);
        font-family: "RobotoB";
    }
    p{
        line-height: 1.6;
        font-family: "RobotoR";
        opacity: $op;
    }
}

.tree{
    margin: 0 auto;
    max-height: 740px;
    max-width: 568px;
    display: flex;
    &_line{
        width: 6px;
        min-width: 3px;
        height: 740px;
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    }
    &_first{
        margin: 35px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_text{
            display: flex;
            text-align: right;
            font-family: "RobotoR";
            color: $c-r;
            & div:first-child{
                margin-right: 10px;
                h1{
                    opacity: $op;
                    margin-bottom: 10px;
                }
                p{line-height: 1.4;}
            }
            & div:last-child{
                width: max(22.85%,35px);
                height: 100%;
                transform: scale(1,0.035);
                background-color: $c-r;
                opacity: 0.3;
            }
        }
    }
    &_last{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &_text{
            display: flex;
            font-family: "RobotoR";
            color: $c-r;
            & div:first-child{
                order: 2;
                margin-left: 10px;
                h1{
                    opacity: $op;
                    margin-bottom: 10px;
                }
                p{line-height: 1.4;}
            }
            & div:last-child{
                order: 1;
                width: max(22.85%,35px);
                height: 100%;
                transform: scale(1,0.035);
                background-color: $c-r;
                opacity: 0.3;
            }
        }
    }
}

.teachers{
    color: $c-r;
    &_header{
    display: flex;
    @include adaptiv-value("margin-bottom",140,100,1);
    img{
    max-width: 91px;
    object-fit: none;
    position: relative;
    bottom: 32px;
    margin-right: 20px;
    }
    h1{
        @include adaptiv-value("font-size",48,40,1);
        font-family: "RobotoB";
        display: inline-block;
    }
}
}

.teachers_inner{
    display: flex;
    .teacher{
        width: max(33.3%,217px);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h1{
            margin: 33px 0 15px 0;
            font-family: "RobotoM";
            @include adaptiv-value("font-size",24,20,1);
        }
        p{opacity: 0.7;}
        img{
            max-width: 100%;
        }
        button{
            margin-top: 26px;
            background: transparent;
            color: $c-r;
            font-family: "RobotoR";
            padding: 12px 28px;
            border: none;
            border-radius: 21.5px;
            box-shadow: 0 0 1px 1px white;
            transition: 1s;
        }
        @media (any-hover: hover){
            button:hover{
                background: #8977fc36;
                border-radius: 2px;
            }
        }
    }
}

footer{
    padding: 100px 0 35px 0;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    color: $c-r;
    h1{
        font-family: "RobotoB";
        @include adaptiv-value("font-size",48,34,1);
    }
    p{
        opacity: 0.5;
        max-width: 410px;
        margin: 0 auto;
        line-height: 1.4;
    }
    p:last-child{opacity: 0.8;}
    .links, p:nth-child(2){margin-top: 40px !important;}
    .input, p:last-child{margin-top: 50px !important;}
    .links{
        margin: 0 auto;
        max-width: 290px;
        height: 50px;
        img:first-child{margin-left: 0;}
        img{
            @include adaptiv-value("margin-left",22.5,12,1);
            max-width: 100%;
            cursor: pointer;
        }
    }
    .input{
        position: relative;
        margin: 0 auto;
        max-width: 490px;
        height: 50px;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.25);
        text-align: left;
        input{
            width: 62.5%;
            background: none;
            border: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 20px;
            margin: auto;
            color: $c-r;
            &::placeholder{
                color: $c-r;
            }
        }
    }
}

.input_punch{
    display: inline-block;
    position: absolute;
    right: 0;
    line-height: 50px;
    cursor: pointer;
    width: 30%;
    min-width: 125px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 25px;
    text-align: center;
    font-family: "RobotoM";
    font-size: 17px;
    transition: .5s;
    @media (any-hover: hover){
    &:hover{
        box-shadow: 0 0 2px 5.5px #7d6afa5b inset;
    }
    }
}


@font-face {
    font-family: "RobotoR"; 
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "RobotoB"; 
    src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "RobotoM"; 
    src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "RoboroL"; 
    src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

