@import "css_libraries/_vars.scss";
@import "css_libraries/reset.css";

.wrapper{
    @include blocks(100%,100%,100vh,url("../pictures/bgc.png") center no-repeat);
    background-size: cover;
    min-height: 700px;
}

header{
    position: relative;
    @include blocks(100%,100%,100%,url("../pictures/main-screen__bgc.png") center no-repeat);
    background-size: 100% 100%;
    max-height: 960px;
    height: 100%;
    h1{
        width: 920/1960*100%;
        @include fonts(64px,"RobotoB");
        line-height: 140%;
        color: $c-r;
        position: absolute;
        top: 270px;
        left: 16.25%;
        white-space: nowrap;
    }
    img{
        position: absolute;
        left: 4.05%;
        top: 40px;
        width: 40px;
        height: 40px;
    }
}

.menu{
    margin-left: 33.4%;
    padding-top: 48px;
    @include blocks(710/1680*100%,100%,25px,none);
    color: $c-r;
    @include fonts($fz,"RobotoR");
    @include place(flex,space-between);
    align-items: center;
    a{
        overflow: hidden;  
        transition: 0.5s;
        cursor: pointer;
    &:hover{
        color: #c89afc;
        }
    }
}

.row{
    position: absolute;
    left: 16.25%;
    top: 435px;
    @include blocks(518px,100%,112px,none);
    @include place(flex,space-between);
    position: relative;
    .row_in{
        text-align: center;
        color: $c-r;
        @include fonts(36px,"RobotoB");
        height: inherit;
        width: 107px;
        background-color: #121212;
        p{
            padding-top: 35px;
            @include fonts($fz,"RobotoR");
            opacity: 0.4;
        }
        div{
            position: relative;
            top: 25px;
        }
    }
}

.click1{
    position: absolute;
    right: 4.2%;
    top: 40px;;
    float: right;
    color: $c-r;
    @extend %center;
    @include blocks(184px,100%,44px,linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%));
    @include fonts($fz,"RobotoR");
    border-radius: 50px;
    cursor: pointer;
}

.down_line{
    position: absolute;
    bottom: 0;
    @include blocks(100%,100%,120/960*100%,#121212);
    @extend %center;
    .inner{
        @include place(flex,space-between);
        align-items: center;
        width: 1300/1960*100%;
        .child1{
            color: $c-r;
            @extend %center;
            @include blocks(184px,100%,44px,linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%));
            @include fonts($fz,"RobotoR");
            border-radius: 50px;
            cursor: pointer;
        }
        .child2{
            height: 65px;
            width: 20%;
            @include place(flex,space-between);
            div:first-child{
                @include fonts(15px,"RobotoR");
                color: $c-r;
                opacity: 0.4;
                line-height: 200%;
                height: inherit;
                @include place(flex,center);
                flex-direction: column;
            }
            div:last-child{
                @include fonts($fz,"RobotoB");
                color: $c-r;
                line-height: 200%;
                height: inherit;
                @include place(flex,center);
                flex-direction: column;
            }
        }
        .child3{
            position: relative;
            line-height: 200%;
            height: auto;
            width: 800/1920*100%;
            @include place(flex,center);
            flex-direction: column;
            @include fonts(15px,"RobotoR");
            color: $c-r;
            p{opacity: 0.4;}
            p:last-child{
                position: absolute;
                right: 0;
                bottom: 0;
            }
            .div_up{
                display: flex;
            p1{
                opacity: 0.4;
            }
            p2{
                @include fonts(16px,"RobotoB");
            }
        }
            .div_down{
                @include blocks(inherit,100%,6px,$c-r);
                div{
                @include blocks(100%,65%,100%,linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%));
                }
            }
        }
    }
}

@font-face {
    font-family: "RobotoR"; 
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "RobotoB"; 
    src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "RoboroM"; 
    src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "RoboroL"; 
    src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 