@import "css_libraries/reset.css";
.down_line .inner .child1, .down_line, .click1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  background: url("../pictures/bgc.png") center no-repeat;
  background-size: cover;
  min-height: 550px;
}

header {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
  background: url("../pictures/main-screen__bgc.png") center no-repeat;
  background-size: 100% 100%;
  max-height: 960px;
  height: 100%;
}
header h1 {
  width: 46.9387755102%;
  font-size: 64px;
  font-family: "RobotoB";
  line-height: 140%;
  color: white;
  position: absolute;
  top: 270px;
  left: 16.25%;
  white-space: nowrap;
}
header img {
  position: absolute;
  left: 4.05%;
  top: 40px;
  width: 40px;
  height: 40px;
}

.menu {
  margin-left: 33.4%;
  padding-top: 48px;
  max-width: 42.2619047619%;
  width: 100%;
  height: 25px;
  background: none;
  color: white;
  font-size: 16px;
  font-family: "RobotoR";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu a {
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.menu a:hover {
  color: #c89afc;
}

.row {
  position: absolute;
  left: 16.25%;
  top: 435px;
  max-width: 518px;
  width: 100%;
  height: 112px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.row .row_in {
  text-align: center;
  color: white;
  font-size: 36px;
  font-family: "RobotoB";
  height: inherit;
  width: 107px;
  background-color: #121212;
}
.row .row_in p {
  padding-top: 35px;
  font-size: 16px;
  font-family: "RobotoR";
  opacity: 0.4;
}
.row .row_in div {
  position: relative;
  top: 23%;
}

.click1 {
  position: absolute;
  right: 4.2%;
  top: 40px;
  float: right;
  color: white;
  max-width: 184px;
  width: 100%;
  height: 44px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  font-size: 16px;
  font-family: "RobotoR";
  border-radius: 50px;
  cursor: pointer;
}

.down_line {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  height: 12.5%;
  background: #121212;
}
.down_line .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 66.3265306122%;
}
.down_line .inner .child1 {
  color: white;
  max-width: 184px;
  width: 100%;
  height: 44px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  font-size: 16px;
  font-family: "RobotoR";
  border-radius: 50px;
  cursor: pointer;
}
.down_line .inner .child2 {
  height: 65px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.down_line .inner .child2 div:first-child {
  font-size: 15px;
  font-family: "RobotoR";
  color: white;
  opacity: 0.4;
  line-height: 200%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.down_line .inner .child2 div:last-child {
  font-size: 16px;
  font-family: "RobotoB";
  color: white;
  line-height: 200%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.down_line .inner .child3 {
  position: relative;
  line-height: 200%;
  height: auto;
  width: 41.6666666667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  font-family: "RobotoR";
  color: white;
}
.down_line .inner .child3 p {
  opacity: 0.4;
}
.down_line .inner .child3 p:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
}
.down_line .inner .child3 .div_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.down_line .inner .child3 .div_up p1 {
  opacity: 0.4;
}
.down_line .inner .child3 .div_up p2 {
  font-size: 16px;
  font-family: "RobotoB";
}
.down_line .inner .child3 .div_down {
  position: absolute;
  max-width: inherit;
  width: 100%;
  height: 6px;
  background: white;
}
.down_line .inner .child3 .div_down div {
  max-width: 100%;
  width: 65%;
  height: 100%;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

@font-face {
  font-family: "RobotoR";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoB";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RoboroM";
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RoboroL";
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}