@media screen and (min-width: 1800px){
    header .menu{
        max-width: 38%;
    }
    .down_line .inner .child2 div:first-child{
        font-size: 16px;  
    }
    .down_line .inner .child3{
        font-size: 16px;
    }
}

@media screen and (max-width: 1600px){
    .down_line .inner .child2 div:first-child{
        line-height: 100%;
    }
}

@media screen and (max-width: 1300px){
    header{
        background-size: cover;
        background-position: right;
    }
    .menu a{
        text-shadow: 1px 1px 5px rgb(0, 0, 0);
    }
}

@media screen and (max-width: 1200px){
    .menu{
        margin-left: 25.5%;
        max-width: 50%;
    }
}

@media screen and (max-width: 1112px){
    .down_line .inner .child1{
        max-width: 150px;
    }
    .down_line .inner{
        width: 78%;
    }
}

@media screen and (max-width: 940px){
    .menu{
        margin-left: 12%;
        min-width: 63%;
    }
    .click1{
        max-width: 160px;
        right: 3%;
    }
    header h1{
        text-shadow: 1px 1px 0.5px rgb(85, 85, 85);
        white-space: normal;
        width: 83%;
        line-height: normal;
        left: 13%;
        top: 250px;
    }   
    .row{
        left: 13%;
    }
    .down_line .inner{
        width: 93%;
    }
    .down_line .inner .child2{
        width: 23.5%;
    }
}

@media screen and (max-width: 768px){
    .down_line .inner{
        width: 87%;
    }
    .down_line .inner .child2{
        display: none;
    }
    .down_line .inner .child3{
        width: 70%;
        font-size: 16px;
    }
    .menu{
        display: none;
    }
    header h1{
        top: 200px;
    }
    .row{
        top: 465px;
    }
}

@media screen and (max-width: 630px){
    header h1{
        left: 4%;
    }
    header h1{
        font-size: 50px;
        width: 444px;
    }
    .row{
        max-width: 270px;
        display: block;
        top: 420px;
        left: 1.5%;
    }
    .row .row_in{
        display: inline-block;
        margin: 0 0 12.5px 15px;
    }
    .down_line .inner{
        width: 95%;
    }
    .down_line .inner .child3{
        width: 65%;
    }
}

@media screen and (max-width: 467px){
    .down_line .inner .child3{
        width: 60%;
    }
    .down_line .inner .child3 .div_up p2{
        padding-left: 6px;
    }
    .row{
        left: 1%;
    }
    header h1{
        font-size: 42px;
        width: 360px;
    }
    .down_line .inner .child3 .div_up p1 span{
        display: none;
    }
}

@media screen and (max-width: 380px){
    header h1{
        left: 3%;
        font-size: 40px;
        width: 340px;
    }
    .row{
        top: 380px;
        left: -1%;
    }
    .down_line .inner .child3{
        width: 56%;
    }
    .down_line .inner .child1{
        max-width: 135px;
        font-size: 15px;
    }
}

@media screen and (max-width: 356px){
    header h1{
        font-size: 37px;
        width: 320px;
    }
}

@media screen and (max-height: 730px){
    .down_line{
        height: 92px;
    }
    .row{
        top: 46.5%;
    }
    .row .row_in{
        width: 95px;
        height: 95px;
        font-size: 30px;
    }
    .row .row_in p{
        padding-top: 28px;
    }
    header h1{
        top: 100px;
    }
}

